In [1]:
from montecarlo import *
import numpy as np
import pandas as pd

## Die Class

In [2]:
Demo_Die = Die([1,2,3,4])
Demo_Die.show()

   faces  weights
0      1      1.0
1      2      1.0
2      3      1.0
3      4      1.0

In [3]:
Demo_Die.change_weight(3,3)
Demo_Die.show()

   faces  weights
0      1      1.0
1      2      1.0
2      3      3.0
3      4      1.0

In [4]:
Demo_Die.roll(10)

[2.0, 3.0, 2.0, 3.0, 3.0, 2.0, 1.0, 4.0, 4.0, 2.0]

## Game Class

In [5]:
Demo_Game = Game([Demo_Die, Demo_Die, Demo_Die])

In [6]:
Demo_Game.play(100)
Demo_Game.show("wide")

Faces          0    1    2
Roll_Number
0            3.0  2.0  3.0
1            3.0  3.0  3.0
2            2.0  3.0  3.0
3            3.0  1.0  2.0
4            2.0  1.0  3.0
...          ...  ...  ...
95           3.0  2.0  4.0
96           2.0  2.0  1.0
97           3.0  3.0  2.0
98           4.0  3.0  3.0
99           3.0  3.0  3.0

[100 rows x 3 columns]

In [7]:
Demo_Game.show("narrow")

                        Face
Roll_Number Die_Number
0           0            3.0
            1            2.0
            2            3.0
1           0            3.0
            1            3.0
...                      ...
98          1            3.0
            2            3.0
99          0            3.0
            1            3.0
            2            3.0

[300 rows x 1 columns]

## Analyzer Class

In [8]:
Demo_Analyzer = Analyzer(Demo_Game)
Demo_Analyzer.face_counts_per_roll()
Demo_Analyzer.face_counts

Faces        1.0  2.0  3.0  4.0
Roll_Number
0            0.0  1.0  2.0  0.0
1            0.0  0.0  3.0  0.0
2            0.0  1.0  2.0  0.0
3            1.0  1.0  1.0  0.0
4            1.0  1.0  1.0  0.0
...          ...  ...  ...  ...
95           0.0  1.0  1.0  1.0
96           1.0  2.0  0.0  0.0
97           0.0  1.0  2.0  0.0
98           0.0  0.0  2.0  1.0
99           0.0  0.0  3.0  0.0

[100 rows x 4 columns]

In [9]:
Demo_Analyzer.combo()
Demo_Analyzer.combo

             Count
0   1   2
1.0 1.0 1.0      1
        2.0      1
        3.0      2
    2.0 2.0      2
        3.0      8
        4.0      2
    3.0 3.0     12
        4.0      6
    4.0 4.0      2
2.0 2.0 2.0      2
        3.0      2
    3.0 3.0     20
        4.0     10
    4.0 4.0      2
3.0 3.0 3.0     10
        4.0     13
    4.0 4.0      5

In [10]:
Demo_Analyzer.jackpot()

13

In [11]:
Demo_Analyzer.jackpot

Faces          0    1    2             list uniques  Jackpot
Roll_Number
1            3.0  3.0  3.0  [3.0, 3.0, 3.0]   [3.0]     True
13           3.0  3.0  3.0  [3.0, 3.0, 3.0]   [3.0]     True
26           2.0  2.0  2.0  [2.0, 2.0, 2.0]   [2.0]     True
34           3.0  3.0  3.0  [3.0, 3.0, 3.0]   [3.0]     True
40           3.0  3.0  3.0  [3.0, 3.0, 3.0]   [3.0]     True
58           3.0  3.0  3.0  [3.0, 3.0, 3.0]   [3.0]     True
64           2.0  2.0  2.0  [2.0, 2.0, 2.0]   [2.0]     True
65           1.0  1.0  1.0  [1.0, 1.0, 1.0]   [1.0]     True
72           3.0  3.0  3.0  [3.0, 3.0, 3.0]   [3.0]     True
74           3.0  3.0  3.0  [3.0, 3.0, 3.0]   [3.0]     True
84           3.0  3.0  3.0  [3.0, 3.0, 3.0]   [3.0]     True
87           3.0  3.0  3.0  [3.0, 3.0, 3.0]   [3.0]     True
99           3.0  3.0  3.0  [3.0, 3.0, 3.0]   [3.0]     True